---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import { useTranslation } from '../i18n/utils';
import type { TypesLang } from '../i18n/i18n.types';
import { highlightWord } from '../utilities';
import { Projects, Experiences } from '../data';

const {currentLocale} = Astro
const lang = currentLocale as TypesLang
const t = useTranslation(lang)

---

<Layout title=`Ezequiel Menoza | ${t('ui.title')}`>
	<!-- TODO: Add Language selector -->
	
	
		<main class="w-2/3" id="content">
		<section id="about" class="lg:pb-5 pt-24">
		<blockquote>
			<p class="text-gray-400 font-light">	
				<Fragment set:html={highlightWord(t('ui.description'))} />
			</p>
		</blockquote>
		<div class="pt-7">
		<h2 class="font-semibold text-xl text-gray-200">{t('ui.toolsTitle')}</h2>
			<div class="flex bg-slate-700 p-3 py-5 my-1 rounded-xl flex-wrap justify-around space-x-4 ">
				<div class="py-3 md:py-1">
					<img src="./images/logo-react.png" class="object-fill" alt="React Js"   />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-next.png" class="object-fill" alt="Next Js"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-astro.png" class="object-fill" alt="Astro"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-tailwind.png" class="object-fill" alt="Tailwind"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-mui.png" class="object-fill" alt="Material UI"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-javascript.png" class="object-fill" alt="Javascript" />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-typescript.png" class="object-fill" alt="Typscript"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-aws.png" class="object-fill" alt="Amazon Web Services"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-firebase.png" class="object-fill" alt="Firebase"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-git.png" class="object-fill" alt="Git"  />
				</div>
			</div>		
		</div>
	</section>
	<section id="experience" class="lg:py-5">
		<h2 class="font-semibold text-xl text-gray-200">{t('ui.experience')}</h2>
		{Experiences[lang]?.reverse().map((item)=>(
			<p>{item.name}</p>
			<p>{item.period}</p>
			<p>{item.description}</p>
		))}
		<div>
			
	</section>
	<section id="projects" class="lg:py-5">
	
			<h2 class="font-semibold text-xl text-gray-200">{t('ui.projects')}</h2>
			<p class="text-md font-light text-gray-400">{t('ui.projectSubTitle')}</p>
			<div class="py-1 space-y-3">
				{Projects[lang].map((item, index)=>(
					<Card
			title={item.name}
			body={item.description}
			technologies={item.tags}
			/>
				))}
			
	</div>
</section>
	</main>	
</Layout>

