---
import { getColorsByTech } from '../utilities';

interface Props {
	title: string;
	body: string;
	image?: string,
	technologies?: string[]
}
const { title, body, image, technologies } = Astro.props;

---

<div class="bg-gray-700  p-4 rounded-xl border-gray-900 border-1 min-h-32 break-inside-avoid-column">
		<h2 class="font-semibold text-gray-300">
			{title}
		</h2>
		<p class="text-gray-500 text-sm">
			{body}
		</p>
		{image && <img src={image} /> }
		<div class='flex flex-row space-x-1'>
		{technologies?.map(item=>(
		<div class={`${getColorsByTech(item)} mt-7 py-1 px-2 rounded-full text-xs min-w-20 max-w-32 text-center`}>{item}</div>

		))}
</div>
</div>

